body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.btn {
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #337c36;
    color: white;
    font-weight: bold;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #f1f1f1;
}

.salario {
    background-color: #c0c9c2;
    color: #000000;
}

.porcentagem {
    background-color: #c0c9c2;
    color: #000000;
}

.export-btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
