{% extends 'base.html' %}

{% block conteudo %}
<hr>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}">

<div class="containers">
    <div class="card">
        <div class="image-text">
            <img src="../static/hammer.png" alt="Imagem 1">
            <div class="text-container">
                <p class="top-text">Total de Processos</p>
                <p class="bottom-text">{{total_processos}} Processos</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img class="img_header" src="../static/agreement.png" alt="Imagem 2">
            <div class="text-container">
                <p class="top-text">Acordos Realizados</p>
                <p class="bottom-text">{{acordos_realizados}} Acordos</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img src="../static/disagreement.png" alt="Imagem 3">
            <div class="text-container">
                <p class="top-text">Sessões Canceladas</p>
                <p class="bottom-text">{{sessoes_canceladas}} Sessões</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img src="../static/auction.png" alt="Imagem 3">
            <div class="text-container">
                <p class="top-text">Sessões Gratuitas</p>
                <p class="bottom-text">{{sessoes_gratuitas}} Sessões</p>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">        
    <div class="row">
        <div class="col-md-4">
            <a class="nav-link" href="{{url_for('new_statistics')}}">
                <button type="submit" class="btn btn-outline-primary text-black" value="NOVA VENDA" id="btn_nova_estatistica">
                    <img class="img_menu" src="../static/checklist.png" alt="buttonpng">
                    <p class="text-black">NOVA ESTATÍSTICA</p>
                </button>  
            </a>          
        </div>  
        <div class="col-md-4">
            <a class="nav-link" href="{{url_for('reports')}}">         
                <button type="submit" class="btn btn-outline-primary text-black" value="compras" id="btn_relatorios">
                    <img class="img_menu" src="../static/analysis.png" alt="buttonpng">
                    <p class="text-black">RELATÓRIOS</p>
                </button> 
            </a>         
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="nav-link">         
                <button class="btn btn-outline-primary text-black" value="CONSULTAS" id="btn_salario_minimo">
                    <img class="img_menu" src="../static/wage.png" alt="buttonpng">
                    <p class="text-black">SALÁRIO MÍNIMO</p>
                </button> 
            </a>         
        </div>    

        <div class="col-md-4">
            <a class="nav-link" href="{{url_for('search_estatistics')}}">         
                <button class="btn btn-outline-primary text-black" value="CONSULTAS" id="btn_consulta_estatistica">
                    <img class="img_menu" src="../static/statistics.png" alt="buttonpng">
                    <p class="text-black">CONSULTAR ESTATÍSTICA</p>
                </button> 
            </a>         
        </div>    
    </div>
</div>

<br>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/script_menu.js') }}"></script>

{% endblock conteudo %}
