{% extends 'base.html' %}
{% block conteudo %}
<hr>

<div class="containers">
    <div class="card">
        <div class="image-text">
            <img src="../static/hammer.png" alt="Imagem 1">
            <div class="text-container">
                <p class="top-text">Total de Processos</p>
                <p class="bottom-text">{{total_processos}} Processos</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img class="img_header" src="../static/agreement.png" alt="Imagem 2">
            <div class="text-container">
                <p class="top-text">Acordos Realizados</p>
                <p class="bottom-text">{{acordos_realizados}} Acordos</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img src="../static/disagreement.png" alt="Imagem 3">
            <div class="text-container">
                <p class="top-text">Sessões Canceladas</p>
                <p class="bottom-text">{{sessoes_canceladas}} Sessões</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-text">
            <img src="../static/auction.png" alt="Imagem 3">
            <div class="text-container">
                <p class="top-text">Sessões Gratuitas</p>
                <p class="bottom-text">{{sessoes_gratuitas}} Sessões</p>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">        
    <div class="row">
        <div class="col-md-4">
            <a class="nav-link" href="{{url_for('new_statistics')}}">
                <button type="submit" class="btn btn-outline-primary text-black" value="NOVA VENDA" id="btn_nova_estatistica">
                    <img class="img_menu" src="../static/analytics.png" alt="buttonpng">
                    <p class="text-black">NOVA ESTATÍSTICA</p>
                </button>  
            </a>          
        </div>  
        <div class="col-md-4">
            <a class="nav-link" href="{{url_for('reports')}}">         
                <button type="submit" class="btn btn-outline-primary text-black" value="compras" id="btn_consulta_estatistica">
                    <img class="img_menu" src="../static/statistics.png" alt="buttonpng">
                    <p class="text-black">RELATÓRIOS</p>
                </button> 
            </a>         
        </div>  
        <div class="col-md-4">
            <a class="nav-link">         
                <button class="btn btn-outline-primary text-black" value="CONSULTAS" id="btn_salario_minimo">
                    <img class="img_menu" src="../static/wage.png" alt="buttonpng">
                    <p class="text-black">SALÁRIO MÍNIMO</p>
                </button> 
            </a>         
        </div>    
    </div>
</div>

<br>
<style>
.containers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: linear-gradient(145deg, #eae7eb, #d1cbcc); /* Degradê suave */
    border: 3px solid #5a6068; /* Cor da borda mais suave */
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    transition: transform 0.3s; /* Animação de hover */
}

.card:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
}

.image-text {
    display: flex;
    align-items: flex-start;
}

img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-text {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.bottom-text {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
}

#btn_nova_estatistica, #btn_salario_minimo,  #btn_consulta_estatistica {
    background: linear-gradient(145deg, #eae7eb, #d1cbcc); /* Degradê suave */
    border: none;
    border-radius: 10px;
    width: 100%; /* 100% da largura do coluna */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
    cursor: pointer;
    text-align: center;
    color: white;
}

.img_menu {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.btn p {
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.01); /* Efeito de hover */
    color: white;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('btn_salario_minimo').addEventListener('click', function() {
    Swal.fire({
        title: 'Insira o Salário Mínimo',
        input: 'text',
        inputLabel: 'Salário Mínimo Atual',
        inputPlaceholder: 'Digite o valor...',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        inputValidator: (value) => {
            if (!value) {
                return 'Por favor, insira um valor';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            // Envia o valor para o backend
            const salarioMinimo = result.value;

            fetch('/minimal-wage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',  // Certifique-se que está configurado como application/json
                },
                body: JSON.stringify({ salario_minimo: salarioMinimo }) // Certifique-se de que os dados estão em formato JSON
            })
            .then(response => {
                if (response.ok) {
                    // Se a requisição for bem-sucedida, redireciona para /minimal-wage
                    window.location.href = '/minimal-wage';
                } else {
                    Swal.fire('Erro!', 'Houve um problema ao enviar os dados.', 'error');
                }
            })
            .catch(error => {
                Swal.fire('Erro!', 'Houve um problema ao enviar os dados.', 'error');
            });
        }
    });
});
</script>


{% endblock conteudo %}
