{% extends 'base.html' %}
{% block conteudo %}
<div class="container">
    <h2 class="display-5">TABELA DE SALÁRIO MÍNIMO</h2>

    <!-- Botões para exportação -->
    <div class="export-btn-container">
        <button class="export-btn btn btn-success" id="export_excel">Exportar para Excel</button>
        <button class="export-btn btn btn-primary" onclick="exportTableToPDF()">Exportar para PDF</button>
    </div>

    <!-- Tabela -->
    <div class="table-container">
        <table id="tabela_salario">
            <thead>
                <tr>
                    {% for column in df_salary.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in df_salary.iterrows() %}
                    <tr>
                        {% for i in range(df_salary.columns|length) %}
                            {% if df_salary.columns[i] == 'Salário' %}
                                <td class="salario">{{ row[1][i] }}</td>
                            {% elif df_salary.columns[i] == 'Porcentagem' %}
                                <td class="porcentagem">{{ row[1][i] }}</td>
                            {% else %}
                                <td>{{ row[1][i] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Importar CSS e JS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_minimal_wage.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="{{ url_for('static', filename='js/script_minimal_wage.js') }}"></script>

{% endblock conteudo %}
